@charset "UTF-8";
@font-face {
    font-family: 'LiHei Pro', '微軟正黑體', Arial, sans-serif;
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body, #wrapper{
	font-family: 'LiHei Pro', '微軟正黑體', Arial, sans-serif;
	height:100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* General Demo Style */
body{
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #000;
	font-weight: 400;
	font-size: 15px;
	color: #aa3e03;
	overflow-y: scroll;
	overflow-x: hidden;
}
.ie7 body{
	overflow:hidden;
}
a{
	color: #333;
	text-decoration: none;
}
.container{
	position: relative;
	text-align: center;
	z-index:1;
}
.clr{
	clear: both;
}
.container > header{
	padding: 30px 30px 10px 20px;
	margin: 0px 20px 10px 20px;
	position: relative;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: left;
	z-index:9998;
}
.container > header h1{
	width:400px;
	font-family: Arial, sans-serif;
	font-size: 31px;
	line-height: 35px;
	position: relative;
	font-weight: 400;
	color: #6d0019;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0px 0px 5px 0px;
}
	
.container > header h1 span{

}
.container > header h2, p.info{
	font-family:sans-serif;
	font-size: 30px;
	font-size: 12px;
	font-style: normal;
	color: #f8f8f8;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
/* Header Style */
.codrops-top{
	font-family: Arial, sans-serif;
	line-height:30px;
	font-size: 11px;
	width: 100%;
	background: #fff;
	opacity: 0.9;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
	background-color: #fff;
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #ddd;
	display: block;
	float: left;
}
.codrops-top a:hover{
	color: #fff;
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: none;
	display: inline;
}

.codrops-demos{
	float:right;
	width:550px;
	z-index: 10000;
	padding:0px 0px 0px 5px;
}
.codrops-demos a,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
	font-family: 'LiHei Pro', '微軟正黑體', Arial, sans-serif;
    display: inline-block;
	border: 1px solid #6d0019;
	padding: 4px 10px 3px;
	font-size:13px;
	line-height: 18px;
	margin: 2px 3px;
	font-weight: 800;
	color: #A5727D;
}
.codrops-demos a:hover{
	color:  #A5727D;
	background: #6d0019;
}
.codrops-demos a:active{
	background: #6d0019;
}
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
	color: #A5727D;
	background: #6d0019;
}
/* Media Queries */
@media screen and (max-width: 767px) {
	.container > header{
		text-align: center;
	}
	.codrops-demos {
		position: relative;
		top: auto;
		left: auto;
	}
}
.wrapper {
	width:400px;
	height:170px;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-85px;
	margin-left:-200px;
}
.wrapper_b {
	width:592px;
	height:256px;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-128px;
	margin-left:-286px;
}
.wrapper_c {
	position:absolute;
	left:10%;
	top:0px;
	
}
