/*--- 內頁C 內容 ---*/
.content_c_background{
	background-color: #FFF;
	background-image: url(../images/map-bg.jpg);
	background-repeat: repeat-x;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;;
}


.content_c {
	position:absolute;
	left: 10%;
	top: 0px;
}



/*---選單區---*/
.content_c_listgroup {
	position:absolute;
	left: 50px;
	top: 316px;
}
.content_c_listbox {
	width: 222px;
	left: 50px;
	top: 316px;
	right: 0px;
	float: left;
}
.content_c_list {
	width: 222px;
	left: 0px;
	top: 0px;
	right: 0px;
	float: left;
	margin-bottom: 8px;
}
.content_c_list_num {
	width: 20px;
	height: 20px;
	font-size: 11pt;
	color: #FFF;
	line-height: 20px;
	text-align: center;
	letter-spacing: -0.16em;
	text-indent: -0.3em;
	background-image: url(../images/map-point.jpg);
	background-repeat: no-repeat;
	float: left;
}
.content_c_list_name{
	height: 20px;
	float: left;
	font-size: 10pt;
	color: #4D4D4D;
	text-align: left;
	line-height: 20px;
	font-weight: normal;
	padding-left: 8px;
}
.content_c_list_name:hover{
	height: 20px;
	float: left;
	font-size: 10pt;
	color: #FFF;
	text-align: left;
	line-height: 20px;
	font-weight: normal;
	padding-left: 8px;
}



/*---店家介紹區---*/
.content_c_storegroup{
	position:absolute;
	left: 70px;
	top: 690px;
}
/*---店家(一個群組單位)---*/
.content_c_store{
	position:static;
	width: 894px;
	height: 670px;
	padding-top: 20px;
}

/*---店家介紹區-店家編號---*/
.content_c_store_num {
	width: 50px;
	height: 556px;
	line-height: 54px;
	float: left;
	font-size: 30pt;
	color: #C3D4E2;
	text-indent: -0.25em;
	letter-spacing: -0.15em;
	text-align: center;
	vertical-align: text-top;
	background-image: url(../images/map-number-line.png);
	background-repeat: no-repeat;
}

/*---店家介紹區-店家簡介+地圖---*/
.content_c_store_inforgroup_a{
	width: 304px;
	height: 556px;
	float: left;
}
.content_c_store_inforgroup_b{
	width: 304px;
	height: 556px;
	float: right;
}

.content_c_store_slogan{
	width: 304px;
	line-height: 1.2em;
	padding-left: 6px;
	font-size: 11pt;
	color: #700019;
	margin-bottom: 6px;
}
.content_c_store_icon{
	width: 22px;
	height: 23px;
	margin-left: 6px;
	margin-right: 8px; 
}	
.content_c_store_name{
	width: 268px;
	height: 23px;
	/*line-height: 23px;*/
	vertical-align: top;
	vertical-align: sub;
	vertical-align: super;
	font-size: 15pt;
	color: #333333;
	letter-spacing: -0.02em;

}
.content_c_store_infor{
	width: 274px;
	height: 190px;
	font-size: 9pt;
	color: #444444;
	line-height: 2em;
	padding-top: 30px;
	padding-right: 30px;
	letter-spacing: -0.02em;
}
.content_c_store_map{
	width:304px;
	height:282px;
}


/*---店家介紹區-圖片+影片---*/
.content_c_store_imagegroup_a {
	width:518;
	float: right;
}
.content_c_store_imagegroup_b {
	width:518;
	float: left;
}

.content_c_store_slider {
	width:518px;
	height:345px;
	background-color: #000;
}



.content_c_store_videobox_a {
	width:518px;
	height:188px;
	margin-top: 17px;
	background-image: url(../images/map-video_a.png);
	background-repeat: no-repeat;
}
.content_c_store_video_a {
	float: left;
}

.content_c_store_videobox_b {
	width:518px;
	height:188px;
	margin-top: 17px;
	background-image: url(../images/map-video_b.png);
	background-repeat: no-repeat;
}
.content_c_store_video_b {
	float: right;
}

/*---店家介紹區-底部連結---*/
.content_c_store_bottom {
	width: 894px;
	height: 50px;
	padding-top: 14px;
	font-size: 9pt;
	float: left;
	text-align: right;
	color: #700019;
	text-decoration: none;
}

.content_c_store_bottom:hover {
	width: 894px;
	height: 50px;
	padding-top: 14px;
	font-size: 9pt;
	float: left;
	text-align: right;
	color: #700019;
	text-decoration: underline;
}