/*--- 內頁C 內容 ---*/
.content_d_background{
	background-color: #C3D4E2;
	background-image: url(../images/busker-bg.jpg);
	background-repeat: repeat-x;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;;
}

.content_d {
	position:absolute;
	width: 1020px;
	left: 13%;
	top: 0px;
}



/*---選單區---*/
.content_d_slider {
	width:538px;
	height:358px;
	background-color: #000;
	float: left;
	margin: 146px 142px 36px 340px
}




.content_d_listgroup_a {
	position:absolute;
	width: 340px;
	top: 360px;
/*	left: 20px;
	right: 20px;*/
	/*float: left;*/
/*	margin-top: 360px;*/
}

.content_d_listgroup_b {
	position:absolute;
	width: 340px;
	top: 540px;
	left: 340px;
	/*right: 20px;*/
	/*float: left;*/
	/*margin-top: 540px;
	margin-left: 340px;*/
}


.content_d_listgroup_c {
	position:absolute;
	width: 340px;
	top: 540px;
	left: 680px;
	/*right: 20px;*/
	/*float: left;*/
	/*margin-top: 540px;
	margin-left: 340px;*/
}


.content_d_list {
	min-width: 340px;
	min-height: 180px;
	/*width: 340px;
	height: 180px;*/
	left: 20px;
	right: 20px;
	float: left;
	clear: left;
}
.content_d_list_num {
	width: 24px;
	height: 24px;
	font-size: 22pt;
	color: #444;
	line-height: 24px;
	text-align: right;
	letter-spacing: -0.10em;
	float: left;
}
.content_d_list_name{
	float: left;
	margin-left: 20px;
	background-image: url(../images/busker-link-line.png);
	background-repeat: repeat-x;
	vertical-align: text-top;
	vertical-align: middle;
}
.content_d_list_name a{
	font-size: 12pt;
	color: #FFF;
	text-align: left;
	line-height: 24px;
}
.content_d_list_name a:hover{
	font-size: 12pt;
	color: #444;
	text-align: left;
	line-height: 24px;
}
.content_d_list_infor_a{
	height: 150px;
	float: left;
	clear: left;
	font-size: 9pt;
	color: #444;
	text-align: right;
	line-height: 1.8em;
	margin-top: 8px;
}
.content_d_list_infor_b{
	position:absolute;
	height: 150px;
	/*float: left;*/
	font-size: 9pt;
	color: #444;
	text-align: left;
	line-height: 1.8em;
	margin-left: 44px;
	margin-top: 32px;
}