/*--- 內頁C 內容 ---*/
.content_d_background{
	background-color: #C3D4E2;
	background-image: url(../images/busker-bg.jpg);
	background-repeat: repeat-x;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;;
}

.content_d {
	position:absolute;
	width: 1020px;
	left: 13%;
	top: 0px;
}



/*---選單區---*/
.content_d_slider {
	width:538px;
	height:358px;
	background-color: #000;
	float: right;
	float: left;
	clear: left;
	clear: right;
	clear: none;
	margin: 146px 142px 36px 340px
}
.banner {
	position: relative; overflow: auto;
}
.banner li {
	list-style: none;
}
.banner ul li {
	float: left;
}



.content_d_listgroup_a {
	position:absolute;
	width: 340px;
	top: 360px;
/*	left: 20px;
	right: 20px;*/
	/*float: left;*/
/*	margin-top: 360px;*/
}

.content_d_listgroup_b {
	position:absolute;
	width: 340px;
	top: 540px;
	left: 340px;
	/*right: 20px;*/
	/*float: left;*/
	/*margin-top: 540px;
	margin-left: 340px;*/
}


.content_d_listgroup_c {
	position:absolute;
	width: 340px;
	top: 540px;
	left: 680px;
	/*right: 20px;*/
	/*float: left;*/
	/*margin-top: 540px;
	margin-left: 340px;*/
}


.content_d_list {
	min-width: 340px;
	min-height: 180px;
	/*width: 340px;
	height: 180px;*/
	left: 20px;
	right: 20px;
	float: left;
	clear: left;
}
.content_d_list_num {
	width: 24px;
	height: 24px;
	font-size: 22pt;
	color: #444;
	line-height: 24px;
	text-align: right;
	letter-spacing: -0.12em;
	float: left;
}
.content_d_list_name{
	float: left;
	margin-left: 20px;
	background-image: url(../images/busker-link-line.png);
	background-repeat: repeat-x;
	vertical-align: text-top;
	vertical-align: middle;
}
.content_d_list_name a{
	font-size: 12pt;
	color: #FFF;
	text-align: left;
	line-height: 24px;
}
.content_d_list_name a:hover{
	font-size: 12pt;
	color: #444;
	text-align: left;
	line-height: 24px;
}
.content_d_list_infor_a{
	height: 150px;
	float: left;
	clear: left;
	font-size: 9pt;
	color: #444;
	text-align: right;
	line-height: 1.8em;
	margin-top: 8px;
}
.content_d_list_infor_b{
	height: 150px;
	float: left;
	font-size: 9pt;
	color: #444;
	text-align: left;
	line-height: 1.8em;
	margin-left: 15px;
	margin-top: 8px;
}
































/*---店家介紹區---*/
.content_d_storegroup{
	position:absolute;
	left: 70px;
	top: 690px;
}
/*---店家(一個群組單位)---*/
.content_d_store{
	position:static;
	width: 894px;
	height: 690px;
}

/*---店家介紹區-店家編號---*/
.content_d_store_num {
	width: 50px;
	height: 556px;
	line-height: 54px;
	float: left;
	font-size: 30pt;
	color: #C3D4E2;
	text-indent: -0.05em;
	letter-spacing: -0.1em;
	text-align: center;
	vertical-align: text-top;
	background-image: url(../images/map-number-line.png);
	background-repeat: no-repeat;
}

/*---店家介紹區-店家簡介+地圖---*/
.content_d_store_inforgroup_a{
	width: 304px;
	height: 556px;
	float: left;
}
.content_d_store_inforgroup_b{
	width: 304px;
	height: 556px;
	float: right;
}

.content_d_store_slogan{
	width: 304px;
	line-height: 31px;
	padding-left: 6px;
	font-size: 11pt;
	color: #700019;
}
.content_d_store_icon{
	width: 22px;
	height: 23px;
	margin-left: 6px;
	margin-right: 8px; 
}	
.content_d_store_name{
	width: 268px;
	height: 23px;
	/*line-height: 23px;*/
	vertical-align: top;
	vertical-align: sub;
	vertical-align: super;
	font-size: 15pt;
	color: #333333;
	letter-spacing: -0.02em;

}
.content_d_store_infor{
	width: 274px;
	height: 190px;
	font-size: 9pt;
	color: #444444;
	line-height: 2em;
	padding-top: 30px;
	padding-right: 30px;

}
.content_d_store_map{
	width:304px;
	height:282px;
}


/*---店家介紹區-圖片+影片---*/
.content_d_store_imagegroup_a {
	width:518;
	float: right;
}
.content_d_store_imagegroup_b {
	width:518;
	float: left;
}




.content_d_store_videobox_a {
	width:518px;
	height:188px;
	margin-top: 23px;
	background-image: url(../images/map-video_a.png);
	background-repeat: no-repeat;
}
.content_d_store_video_a {
	float: left;
}

.content_d_store_videobox_b {
	width:518px;
	height:188px;
	margin-top: 23px;
	background-image: url(../images/map-video_b.png);
	background-repeat: no-repeat;
}
.content_d_store_video_b {
	float: right;
}

/*---店家介紹區-底部連結---*/
.content_d_store_bottom {
	width: 894px;
	height: 70px;
	padding-top: 14px;
	font-size: 9pt;
	float: left;
	text-align: right;
}